<div class="wrapper">
	<div class="wrapper-inner">
		<svg width="100%" height="100%">
			<defs>
				<pattern
					id="grid"
					x="0"
					y="0"
					width="70"
					height="70"
					patternUnits="userSpaceOnUse"
					fill="var(--color-bg)"
					opacity="0.1"
				>
					<path d="M 70 0 L 0 0 0 70" stroke="var(--grid-line-color)" stroke-width="3"></path>
				</pattern>
				<radialGradient id="lightGradient">
					<stop offset="0%" stop-color="#fff"></stop>
					<stop offset="100%" stop-color="transparent"></stop>
				</radialGradient>
			</defs>
			<rect fill="url(#grid)" width="100%" height="100%" opacity="0.15"></rect>
			<rect opacity="0" fill="url(#lightGradient)" x="700" y="1329" width="140" height="2">
				<animateTransform
					attributeName="transform"
					type="translate"
					from="0 0"
					to="420 0"
					dur="3000ms"
					begin="801.2579956054688s"
					additive="sum"></animateTransform>
				<animate attributeName="opacity" values="0;1;1;0" dur="3000ms" begin="801.2579956054688s">
				</animate>
			</rect>
			<rect opacity="0" fill="url(#lightGradient)" x="979" y="840" width="2" height="140">
				<animateTransform
					attributeName="transform"
					type="translate"
					from="0 0"
					to="0 420"
					dur="3000ms"
					begin="801.5579833984375s"
					fill="freeze"
					additive="sum"></animateTransform>
				<animate
					attributeName="opacity"
					values="0;1;1;0"
					dur="3000ms"
					begin="801.5579833984375s"
					fill="freeze"></animate>
			</rect>
			<rect opacity="0" fill="url(#lightGradient)" x="70" y="69" width="140" height="2">
				<animateTransform
					attributeName="transform"
					type="translate"
					from="0 0"
					to="420 0"
					dur="3000ms"
					begin="801.8560180664062s"
					fill="freeze"
					additive="sum"></animateTransform><animate
					attributeName="opacity"
					values="0;1;1;0"
					dur="3000ms"
					begin="801.8560180664062s"
					fill="freeze"></animate>
			</rect>
			<rect opacity="0" fill="url(#lightGradient)" x="1400" y="1189" width="140" height="2">
				<animateTransform
					attributeName="transform"
					type="translate"
					from="0 0"
					to="420 0"
					dur="3000ms"
					begin="802.1539916992188s"
					fill="freeze"
					additive="sum"></animateTransform>
				<animate
					attributeName="opacity"
					values="0;1;1;0"
					dur="3000ms"
					begin="802.1539916992188s"
					fill="freeze"></animate>
			</rect>
			<rect opacity="0" fill="url(#lightGradient)" x="1329" y="140" width="2" height="140">
				<animateTransform
					attributeName="transform"
					type="translate"
					from="0 0"
					to="0 -420"
					dur="3000ms"
					begin="802.4600219726562s"
					fill="freeze"
					additive="sum"></animateTransform>
				<animate
					attributeName="opacity"
					values="0;1;1;0"
					dur="3000ms"
					begin="802.4600219726562s"
					fill="freeze"></animate>
			</rect>
			<rect opacity="0" fill="url(#lightGradient)" x="1400" y="1049" width="140" height="2">
				<animateTransform
					attributeName="transform"
					type="translate"
					from="0 0"
					to="420 0"
					dur="3000ms"
					begin="802.7589721679688s"
					fill="freeze"
					additive="sum"></animateTransform>
				<animate
					attributeName="opacity"
					values="0;1;1;0"
					dur="3000ms"
					begin="802.7589721679688s"
					fill="freeze"></animate>
			</rect>
			<rect opacity="0" fill="url(#lightGradient)" x="140" y="139" width="140" height="2">
				<animateTransform
					attributeName="transform"
					type="translate"
					from="0 0"
					to="420 0"
					dur="3000ms"
					begin="803.0570068359375s"
					fill="freeze"
					additive="sum"></animateTransform><animate
					attributeName="opacity"
					values="0;1;1;0"
					dur="3000ms"
					begin="803.0570068359375s"
					fill="freeze"></animate>
			</rect>
			<rect opacity="0" fill="url(#lightGradient)" x="1050" y="629" width="140" height="2">
				<animateTransform
					attributeName="transform"
					type="translate"
					from="0 0"
					to="-420 0"
					dur="3000ms"
					begin="803.35498046875s"
					fill="freeze"
					additive="sum"></animateTransform>
				<animate
					attributeName="opacity"
					values="0;1;1;0"
					dur="3000ms"
					begin="803.35498046875s"
					fill="freeze"></animate>
			</rect>
			<rect opacity="0" fill="url(#lightGradient)" x="839" y="1470" width="2" height="140">
				<animateTransform
					attributeName="transform"
					type="translate"
					from="0 0"
					to="0 -420"
					dur="3000ms"
					begin="803.6539916992188s"
					fill="freeze"
					additive="sum"></animateTransform>
				<animate
					attributeName="opacity"
					values="0;1;1;0"
					dur="3000ms"
					begin="803.6539916992188s"
					fill="freeze"></animate>
			</rect>
			<rect opacity="0" fill="url(#lightGradient)" x="1470" y="-1" width="140" height="2">
				<animateTransform
					attributeName="transform"
					type="translate"
					from="0 0"
					to="-420 0"
					dur="3000ms"
					begin="803.9530029296875s"
					fill="freeze"
					additive="sum"></animateTransform>
				<animate
					attributeName="opacity"
					values="0;1;1;0"
					dur="3000ms"
					begin="803.9530029296875s"
					fill="freeze"></animate>
			</rect>
			<rect opacity="0" fill="url(#lightGradient)" x="1470" y="699" width="140" height="2">
				<animateTransform
					attributeName="transform"
					type="translate"
					from="0 0"
					to="420 0"
					dur="3000ms"
					begin="804.2440185546875s"
					fill="freeze"
					additive="sum"></animateTransform>
				<animate
					attributeName="opacity"
					values="0;1;1;0"
					dur="3000ms"
					begin="804.2440185546875s"
					fill="freeze"></animate>
			</rect>
			<rect opacity="0" fill="url(#lightGradient)" x="1609" y="700" width="2" height="140">
				<animateTransform
					attributeName="transform"
					type="translate"
					from="0 0"
					to="0 -420"
					dur="3000ms"
					begin="39.08399963378906s"
					fill="freeze"
					additive="sum"></animateTransform>
				<animate
					attributeName="opacity"
					values="0;1;1;0"
					dur="3000ms"
					begin="39.08399963378906s"
					fill="freeze"></animate>
			</rect>
			<rect opacity="0" fill="url(#lightGradient)" x="1119" y="1120" width="2" height="140">
				<animateTransform
					attributeName="transform"
					type="translate"
					from="0 0"
					to="0 -420"
					dur="3000ms"
					begin="74.18199920654297s"
					fill="freeze"
					additive="sum"></animateTransform>
				<animate
					attributeName="opacity"
					values="0;1;1;0"
					dur="3000ms"
					begin="74.18199920654297s"
					fill="freeze"></animate>
			</rect>
			<rect opacity="0" fill="url(#lightGradient)" x="140" y="839" width="140" height="2">
				<animateTransform
					attributeName="transform"
					type="translate"
					from="0 0"
					to="-420 0"
					dur="3000ms"
					begin="139.58700561523438s"
					fill="freeze"
					additive="sum"></animateTransform>
				<animate
					attributeName="opacity"
					values="0;1;1;0"
					dur="3000ms"
					begin="139.58700561523438s"
					fill="freeze"></animate>
			</rect>

			<rect opacity="0" fill="url(#lightGradient)" x="700" y="559" width="140" height="2">
				<animateTransform
					attributeName="transform"
					type="translate"
					from="0 0"
					to="420 0"
					dur="3000ms"
					begin="256.1709899902344s"
					fill="freeze"
					additive="sum"></animateTransform>
				<animate
					attributeName="opacity"
					values="0;1;1;0"
					dur="3000ms"
					begin="256.1709899902344s"
					fill="freeze"></animate>
			</rect>

			<rect opacity="0" fill="url(#lightGradient)" x="769" y="70" width="2" height="140">
				<animateTransform
					attributeName="transform"
					type="translate"
					from="0 0"
					to="0 420"
					dur="3000ms"
					begin="373.4729919433594s"
					fill="freeze"
					additive="sum"></animateTransform>
				<animate
					attributeName="opacity"
					values="0;1;1;0"
					dur="3000ms"
					begin="373.4729919433594s"
					fill="freeze"></animate>
			</rect>
		</svg>
	</div>
</div>

<style>
	.wrapper {
		position: absolute;
		inset: 0;
		overflow: hidden;
	}

	.wrapper-inner {
		position: absolute;
		inset: -25%;
	}
</style>

<script>
	function toggleAnimationsRandomly() {
		const animationsTransform = document.querySelectorAll("animateTransform")

		animationsTransform.forEach((animationTransform) => {
			const animationElement = animationTransform

			const randomDecision = Math.random() > 0.5

			const rect = animationTransform.parentElement
			const opacityAnimation = rect?.querySelector(
				'animate[attributeName="opacity"]'
			) as SVGAnimateElement

			if (randomDecision) {
				animationElement?.beginElement()

				if (opacityAnimation) {
					opacityAnimation.beginElement()
				}
				return
			}

			animationElement.setAttribute("begin", "indefinite")

			if (opacityAnimation) {
				opacityAnimation.setAttribute("begin", "indefinite")
			}
		})
	}

	setInterval(toggleAnimationsRandomly, 4000)
	toggleAnimationsRandomly()
</script>
