---
import AnimatedGrid from "~/components/AnimatedGrid.astro"
import GodRays from "~/components/GodRays.astro"
import BackgroundNoise from "~/components/BackgroundNoise.astro"
---

<div>
	<AnimatedGrid />
	<GodRays />
	<BackgroundNoise />
</div>

<style>
	div {
		pointer-events: none;
	}
</style>
